<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <div class="navbar-left">      
      <a class="navbar-brand" href="#">Guity</a>
    </div>
    <div class="portrait">
      <a href="/#artist/{{artist.mbid}}">
        <img src="{{artist.image.medium}}" alt="" fadey="1000">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <span class="icon-archive"></span>
        <a href="#artist/albums/{{artist.mbid}}" class="active-nav">Albums</a>
      </li>
      <li>
        <span class="icon-users"></span>
        <a href="#artist/similar/{{artist.mbid}}">Similar</a>
      </li>
      <li>
        <span class="icon-calendar"></span>
        <a href="#artist/events/{{artist.mbid}}">Events</a>
      </li>
    </ul>    
  </div>
</nav>

<div class="albums-view" ng-hide="loading" fadey="1000">
  <div class="row">
    <div class="col-md-12">

      <ul masonry="{ transitionDuration: '0.7s', gutter: 10 }"
          class="albgrid"
          column-width="373"
          preserve-order
          fadey="2000">

        <li class="alb masonry-brick" ng-repeat="album in albums">
          <figure>
            <a href="#artist/albums/{{album.name}}/{{album.artist.mbid}}">
              <img src="{{album.image.extralarge}}" alt="">
            </a>
            <figcaption>
              <a href="#artist/albums/{{album.name}}/{{album.artist.mbid}}">
                <h3>{{album.name}}</h3>
              </a>
            </figcaption>
          </figure>
        </li>

      </ul>

    </div>
  </div>
</div>
