<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <div class="navbar-left">
      <!-- <a class="goback" href="#artist/{{artist.mbid}}/">Back</a> -->
      <a class="navbar-brand" href="#artist/{{artist.mbid}}/">Guity</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <span class="icon-archive"></span>
        <a href="#artist/albums/{{artist.mbid}}">Albums</a>
      </li>
      <li>
        <span class="icon-users"></span>
        <a href="#artist/similar/{{artist.mbid}}" class="active-nav">Similar</a>
      </li>
      <li>
        <span class="icon-calendar"></span>
        <a href="#artist/events/{{artist.mbid}}">Events</a>
      </li>
    </ul>
  </div>
</nav>

<div class="similar-view container" fadey="1000">
  <div class="row">

    <div class="similar col-md-12" ng-controller="similarCtrl">
			<ul masonry="{ transitionDuration: '0.7s', gutter: 10 }"
          class="simgrid"
          column-width="373"
          preserve-order
          fadey="2000">

				<li class="sim masonry-brick" ng-repeat="similar in similars | limitTo:limit">
					<figure>
						<a href="#artist/{{similar.mbid}}"><img src="{{similar.image.mega}}" alt=""></a>
						<figcaption>
              <a href="#artist/{{similar.mbid}}">
							  <h3>{{similar.name}}</h3>
              </a>
							<span>{{similar.match}}</span>
						</figcaption>
					</figure>
				</li>

			</ul>
    </div>

  </div>
</div>
